<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.chunjae.backend.mapper.PickerMapper">

    <resultMap id="QuestionResultMap" type="Question">
        <result property="question" column="question"/>
        <collection property="choices" ofType="java.lang.String">
            <result property="choiceText" column="choiceText"/>
        </collection>
    </resultMap>


    <insert id="insertQuestion" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO questions (type, question, classroom_id) VALUES (#{type}, #{question}, #{classroomId})
    </insert>

    <insert id="insertChoice">
        INSERT INTO choices (question_id, choice_text) VALUES (#{questionId}, #{choiceText})
    </insert>

    <select id="selectQuestionsByClassroomIdAndType" resultType="map">
        SELECT id, question
        FROM questions
        WHERE classroom_id = #{classroomId} AND type = #{type}
    </select>

    <select id="selectQuestionById" resultMap="QuestionResultMap">
        SELECT
            q.question AS question,
            c.choice_text AS choiceText
        FROM
            questions q
        LEFT JOIN
            choices c ON q.id = c.question_id
        WHERE q.id = #{questionId}
    </select>
</mapper>
